.leader-page {
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.leader-page h1 {
    text-align:left;
    color: #333;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.item-checkbox {
    margin-right: 10px;
}

.item-image img {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.item-title {
    font-size: 18px;
    margin: 0 0 5px 0;
    color: #333;
}

.item-description {
    font-size: 14px;
    color: #666;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    color: #E53238; /* Adjust the color to match your design */
}
/* Style the modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.button-container {
    text-align: right;
}

